Object_Oriented_Programming_Concepts/xyz.class
Object_Oriented_Programming_Concepts/Main.class
Object_Oriented_Programming_Concepts/Methods.class
Object_Oriented_Programming/Abstract_Class/Animal.class
*.class